nav {
    background: white;
    box-shadow: 0 4px 8px 0 rgba(156, 83, 83, 0.2);
    position: absolute;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    transition: 0.5s;
    height: 46px;
}

nav a:hover {
    text-decoration: none;
    color: black;
}

#welcome-text {
    margin: auto;
    margin-top: 60px;
    animation: typing-text 2s steps(22), blink-border 1s infinite;
    border-right: 3px solid black;
    font-family: monospace;
    overflow: hidden;
    white-space: nowrap;
}

.mouse {
    position: absolute;
    margin-top: 100px;
    margin-left: 50%;
    transform: translateX(-50%);
}

.scrolldot {
    width: 50px;
    height: 100px;
    border: 4px solid black;
    border-radius: 60px;
}

.scrolldot:before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    margin-top: 10px;
    margin-left: 50%;
    transform: translateX(-90%);
    background: black;
    border-radius: 50%;
    animation: scrollanimation 2s infinite;
}

@keyframes scrollanimation {
    from {
        opacity: 1;
        margin-top: 10px;
    }
    to {
        opacity: 0;
        margin-top: 80px;
    }
}

#aboutus-section p {
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
}

#services-section {
    background: url("/images/gradient.jpg");
    background-size: cover;
}

#services-section h3 {
    color: white;
}

@keyframes blink-border {
    from {
        border-color: transparent;
    }

    to {
        border-color: black;
    }
}

@keyframes typing-text {
    from {
        width: 0;
    }

    to {
        width: 22ch;
    }
}

h3,
p {
    margin: auto;
    margin-top: 5%;
    text-align: center;
}

#brand-logo {
    display: block;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 260px;
}

.card {
    margin: auto;
    margin-top: 5%;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 5%;
    width: 300px;
    height: 250px;
    float: left;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card-img-top {
    font-size: 50px;
    padding: 10px;
}

/*
.card-title:before{
    content: "--------------------------------";
    color:black;
}
*/

#recentprojects-section h3 {
    margin-bottom: 5%;
}

#recentprojects-section img {
    width: 150px;
    height: 150px;
    border-radius: 2%;
    display: block;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 30px;
    float: left;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#team-section img {
    width: 200px;
    height: 200px;
    padding: 2%;
    float: left;
    border-radius: 50%;
}

#team-section figure {
    margin-left: 5px;
    margin-right: 5px;
}

#team-section figcaption {
    text-align: center;
}

#team-section h3 {
    margin-bottom: 5%;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

#card-wrapper {
    width: 100%;
    height: 300px;
    padding: 30px;
}

footer {
    width: 100%;
    height: 400px;
    background: #292626;
    color: white;
    position: relative;
    box-shadow: 0 -5px 5px -5px #333;
}

.footer-content {
    width: 100%;
    height: 350px;
}

.footer-links {
    width: 100%;
    height: 350px;
    margin-top: 0;
    text-align: center;
    padding-top: 10px;
    position: absolute;
}

footer h6 {
    margin-left: 30%;
}

.footer-bottom {
    width: 100%;
    height: 50px;
    position: absolute;
    margin-bottom: 0px;
    text-align: center;
    padding-top: 15px;
}

#contact-section {
    padding: 40px;
    align-content: center;
}

.contactform {
    width: 600px;
    height: 700px;
    padding: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background: white;
    color: black;
    text-align: center;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

.textfield {
    width: 100%;
    margin: 8px 0;
    padding: 12px 18px;
}

label {
    display: block;
    text-align: left;
    color: #333;
    text-transform: uppercase;
    font-weight: 100;
}

#contact-section h3 {
    margin-bottom: 5%;
}

input,
textarea {
    width: 100%;
    outline: 0;
    border-bottom: 1px solid black;
    background: none;
    border: none;
}

textarea {
    height: 100px;
}

#contact-section button {
    width: 70%;
}

.form-group {
    text-align: center;
}

#contact-section {
    background: url("/images/gradient.jpg");
    background-size: cover;
}

hr {
    width: 50%;
}

@media only screen and (max-width: 992px) {

    nav {
        background: white;
        box-shadow: 0 4px 8px 0 rgba(156, 83, 83, 0.2);
        position: absolute;
        z-index: 1;
        top: 0;
        overflow-x: hidden;
        overflow-y: hidden;
        transition: 0.5s;
        height: 46px;
    }

    .card {
        margin: auto;
        margin-top: 5%;
        margin-left: 5px;
        margin-right: 5px;
        margin-bottom: 5%;
        width: 220px;
        height: 250px;
        float: left;
        text-align: center;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    }

    .footer-links {
        width: 100%;
        height: 350px;
        margin-top: 0;
        text-align: center;
        padding-top: 10px;
        position: absolute;
    }

}

@media only screen and (max-width: 768px) {

    nav {
        background: white;
        box-shadow: 0 4px 8px 0 rgba(156, 83, 83, 0.2);
        position: absolute;
        z-index: 1;
        top: 0;
        overflow-x: hidden;
        overflow-y: hidden;
        transition: 0.5s;
        height: 46px;
    }

    .card {
        margin: auto;
        margin-top: 5%;
        margin-left: 22%;
        margin-right: 22%;
        margin-bottom: 5%;
        width: 292px;
        height: 250px;
        text-align: center;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    }

    #card-wrapper {
        width: 100%;
        height: 850px;
        padding: 30px;
    }

    .footer-links {
        width: 100%;
        height: 350px;
        margin-top: 0;
        text-align: center;
        padding-top: 10px;
        position: absolute;
    }

}

@media only screen and (max-width: 638px){

    nav {
        background: white;
        box-shadow: 0 4px 8px 0 rgba(156, 83, 83, 0.2);
        position: absolute;
        z-index: 1;
        top: 0;
        overflow-x: hidden;
        overflow-y: hidden;
        transition: 0.5s;
        height: 46px;
    }

    #brand-logo {
        display: block;
        margin-top: 50px;
        margin-left: auto;
        margin-right: auto;
        width: 110px;
        height: 100px;
    }

    #welcome-text {
        margin: auto;
        margin-top: 60px;
        font-size: 25px;
        animation: typing-text 2s steps(22), blink-border 1s infinite;
        border-right: 3px solid black;
        font-family: monospace;
        overflow: hidden;
        white-space: nowrap;
    }

    .contactform {
        width: 500px;
        height: 700px;
        padding: 10px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        background: white;
        color: black;
        text-align: center;
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
        border-radius: 8px;
    }

    .footer-links {
        width: 100%;
        height: 350px;
        margin-top: 0;
        text-align: center;
        padding-top: 10px;
        position: absolute;
    }

}

@media only screen and (max-width: 576px){

    nav {
        background: white;
        box-shadow: 0 4px 8px 0 rgba(156, 83, 83, 0.2);
        position: absolute;
        z-index: 1;
        top: 0;
        overflow-x: hidden;
        overflow-y: hidden;
        transition: 0.5s;
        height: 46px;
    }

    #brand-logo {
        display: block;
        margin-top: 100px;
        margin-left: auto;
        margin-right: auto;
        width: 200px;
        height: 180px;
    }

    #welcome-text {
        margin: auto;
        margin-top: 60px;
        font-size: 25px;
        animation: typing-text 2s steps(22), blink-border 1s infinite;
        border-right: 3px solid black;
        font-family: monospace;
        overflow: hidden;
        white-space: nowrap;
    }

    .card {
        margin: auto;
        margin-top: 5%;
        margin-left: 19%;
        margin-right: 19%;
        margin-bottom: 5%;
        width: 292px;
        height: 250px;
        text-align: center;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    }

    .contactform {
        width: 400px;
        height: 700px;
        padding: 10px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        background: white;
        color: black;
        text-align: center;
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
        border-radius: 8px;
    }

    .footer-links {
        width: 100%;
        height: 350px;
        margin-top: 0;
        text-align: center;
        padding-top: 10px;
        position: absolute;
    }

}

@media only screen and (max-width: 358px){

    nav {
        background: white;
        box-shadow: 0 4px 8px 0 rgba(156, 83, 83, 0.2);
        position: absolute;
        z-index: 1;
        top: 0;
        overflow-x: hidden;
        overflow-y: hidden;
        transition: 0.5s;
        height: 46px;
    }

    #brand-logo {
        display: block;
        margin-top: 100px;
        margin-left: auto;
        margin-right: auto;
        width: 110px;
        height: 100px
    }

    #welcome-text {
        margin: auto;
        margin-top: 60px;
        font-size: 25px;
        animation: typing-text 2s steps(22), blink-border 1s infinite;
        border-right: 3px solid black;
        font-family: monospace;
        overflow: hidden;
        white-space: nowrap;
    }

    .card {
        margin: auto;
        margin-top: 5%;
        margin-left: 2%;
        margin-right: 2%;
        margin-bottom: 5%;
        width: 250px;
        height: 290px;
        text-align: center;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    }

    .contactform {
        width: 270px;
        height: 700px;
        padding: 10px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        background: white;
        color: black;
        text-align: center;
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
        border-radius: 8px;
    }

    .footer-links {
        width: 100%;
        height: 350px;
        margin-top: 0;
        text-align: center;
        padding-top: 10px;
        position: absolute;
    }

}
